body {
    background-color: black;
    border: 1px solid rgb(47, 51, 54);
    padding-left: 16px;
    }

    .wd-search-container {
    display: flex;
    align-items: center;
    padding: 16px;
    position: relative;
    }

    .wd-search-input {
    background-color: rgb(34, 34, 34);
    border-radius: 16px;
    color: white;
    padding: 16px 30px;
    width: 100%;
    }

    .wd-search-icon {
    background: transparent;
    background-repeat: no-repeat;
    background-position: center;
    height: 25px;
    width: 25px;
    position: absolute;
    top: 30px;
    left: 20px;
    }

    .wd-settings {
    color: rgb(29, 161, 242);
    padding-right: 12px;
    font-size: 30px;
    text-decoration: none;
    }

    .wd-navigation {
    display: flex;
    justify-content: space-around;
    padding: 16px 0 0 0;
    border-bottom: 16px solid rgb(47, 51, 54);
    }

    .wd-nav-link {
    color: rgb(110, 118, 125);
    width: 25%;
    text-align: center;
    padding: 16px;
    font-size: 15px;
    text-decoration: none;
    }

    .wd-active {
    color: rgb(29, 161, 242);
    border-bottom: 4px solid rgb(29, 161, 242);
    }

    .wd-posts-container {
    display: flex;
    flex-wrap: wrap;
    padding: 16px 0;
    border: 1px solid rgb(47, 51, 54);
    }

    .wd-post {
    width: calc(50% - 16px);
    padding: 16px;
    }

    .wd-post-topic {
    color: rgb(110, 118, 125);
    font-size: 13px;
    margin-bottom: 16px;
    }

    .wd-post-title {
    color: white;
    font-size: 18px;
    margin-bottom: 8px;
    }

    .wd-post-tuits {
    color: rgb(110, 118, 125);
    font-size: 13px;
    }

    .wd-post-author {
    color: white;
    font-size: 13px;
    }

    .wd-post-date {
    color: rgb(110, 118, 125);
    font-size: 13px;
    }

    .wd-post-image {
    float: right;
    height: 100px;
    width: 100px;
    }

    .wd-post-author-image {
    border-radius: 50%;
    height: 15px;
    width: 15px;
    }

    .wd-post-type-d {
    border-top: 1px solid rgb(47, 51, 54);
    border-bottom: 1px solid rgb(47, 51, 54);
    }

    .wd-post-type-e {
    border-top: 1px solid rgb(47, 51, 54);
    border-bottom: 1px solid rgb(47, 51, 54);
    }